challenge1/.terraform/plugins/linux_amd64/*
challenge2/.terraform/plugins/linux_amd64/*
dynamic_blocks/.terraform/plugins/linux_amd64/*
ec2/.terraform/plugins/linux_amd64/*
eip/.terraform/plugins/linux_amd64/*
first-resource/.terraform/plugins/linux_amd64/*
security_group/.terraform/plugins/linux_amd64/*
variables/.terraform/plugins/linux_amd64/*
